@import "bourbon/bourbon"

$special: #cd2929
$light: #f5f5f5
$white: #fff
$dark: #212121

*
	margin: 0
	padding: 0
a
	color: $dark
	text-decoration: none
	&:hover
		text-decoration: none
		color: $dark
	&:focus
		text-decoration: none
		color: $dark
	

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: "OpenSans", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	color: $dark
	letter-spacing: 0.05em

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

.main_wrap
	background-color: $light

h1
	font-family: "Exo2Black"
	font-size: 23px
	text-transform: uppercase
	display: inline-block
	vertical-align: middle
	margin: 0 4px
	line-height: 30px

img.scroll
	width: 5%
	margin: auto
	position: absolute
	top: 0
	left: 0
	bottom: -100%
	right: 0
	z-index: 1

//-----Comment Slider-----//
.comment_slider
	.owl-carousel
		.owl-dots
			position: absolute
			top: -6px
			bottom: 0
			left: 0
			right: 0
			margin: auto
			.owl-dot
				margin: 30px 4px
				background-image: url("../img/testimonials/slider_dot.png")
				width: 11px
				height: 11px
				&.active
					background-image: url("../img/testimonials/slider_dot_active.png")
//-----Header-----//
.main_header
	.top_navbar
		position: fixed
		top: 0
		background-color: $light
		width: 100%
		z-index: 999
		border-bottom: 2px solid $dark
		box-sizing: border-box
	.logo_wrap
		padding: 20px 0
		img
			display: inline-block
	.navbar_wrap
		ul
			list-style-type: none
			cursor: pointer
			float: right
			li
				display: inline-block
				line-height: 30px
				font-family: "Exo2Black"
				font-size: 15px
				text-transform: uppercase
				box-sizing: border-box
				border: 1px solid transparent
				margin-left: -1px
				&:hover
					border: 1px solid #000
					background-color: rgba(33,33,33,.1)
				a
					display: inline-block
					height: 100%
					padding: 20px 24px
					outline: none

	.main_slider
		position: relative
		padding-top: 0
		padding-bottom: 0
		img.scroll
			width: 5%
			margin: auto
			position: absolute
			top: 0
			left: 0
			bottom: -100%
			right: 0
			z-index: 1
		.slider_wrap
			position: relative
			z-index: 0
			img
				//width: 100%
			.owl-theme
				.owl-nav
					.owl-prev,
					.owl-next
						position: absolute
						top: 50%
						margin: auto
						margin-top: -70px
						padding: 0
						display: block
						background: none
					.owl-prev
						left: 0
					.owl-next
						right: 0
					
			.slider_descr
				.main_slide
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					margin: auto
					.main_slide_img
						width: 150px
						height: 146px
						display: inline-block
						margin-top: 200px
					.main_slide_name
						display: inline-block
						color: $light
						font-family: "Exo2Black"
						font-size: 60px
						text-transform: uppercase
						vertical-align: middle
						margin: 0 10px
						letter-spacing: 0.06em
						margin-top: 200px
					.main_slide_descr
						color: $light
						font-family: "Exo2EL"
						font-size: 25px
						text-transform: uppercase
						margin: 50px 0 0
						letter-spacing: 0.02em
					.main_slide_phone
						color: $light
						font-family: "Exo2EL"
						font-size: 20px
						text-transform: uppercase
						margin: 40px 0 0
						letter-spacing: 0.02em
					.main_slide_btn
						a
							transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360)
							display: block
							margin: 140px auto
							max-width: 300px
							text-decoration: none
							padding: 20px 30px
						a.button
							color: $light
							text-transform: uppercase
							box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0px 2px inset
						a.button:hover 
							color: $dark
							box-shadow: rgba(255, 255, 255, 0.9) 0 0px 0px 40px inset
						// a.button
						// 	color: rgba(30, 22, 54, 0.6)
						// 	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset
						// a.button:hover 
						// 	color: rgba(255, 255, 255, 0.85)
						// 	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset

	
				img 
					&.rubik
						width: 40%
						margin: auto
						position: absolute
						top: 0
						left: 0
						bottom: 0
						right: 0
					&.plus
						width: 5%
						margin: auto
						position: absolute
						top: 63%
						left: 0
						bottom: 0
						right: 0
				.text 
					width: 30%
					margin: auto
					position: absolute
					top: 40%
					left: 0
					bottom: 0
					right: 0
					color: $white
					.separator
						width: 6%
				
//-----Sections-----//
section
	padding-top: 170px
	padding-bottom: 170px
	text-align: center
	h2
		font-family: "Exo2Black"
		font-size: 48px
		letter-spacing: 0.03em
		text-transform: uppercase
	h3
		font-family: "Exo2Black"
		font-size: 24px
		letter-spacing: 0.01em
		text-transform: uppercase
		font-weight: normal
	p
		font-family: "OpenSans"
		font-size: 14px
		letter-spacing: 0.06em
		line-height: 22px
	.separator
		margin: 30px auto
.s_features
	min-height: 800px 
	padding-top: 200px
	.icon
		margin-top: 100px
	h3
		margin-top: 30px
	p
		margin-top: 20px
.s_about
	min-height: 700px
	background-image: url("../img/about/bg_about.jpg")
	background-size: cover
	color: $light
	position: relative
	.logo
		display: inline-block
		margin-top: 40px
	h1
		display: inline-block
		float: none
		vertical-align: middle
		line-height: 31px
		margin-top: 40px
		color: #bcbcbc
	.icon
		display: inline-block
		width: 75px
		height: 75px
		background-image: url("../img/about/icon/icon_bg.png")
		margin: 40px 15px
		cursor: pointer
		i	
			font-size: 25px
			margin-top: 34%
		&:hover
			background-image: url("../img/about/icon/hover_bg.png")
			color: #1ab4ef
	.scroll
		width: 5%
		margin: auto
		position: absolute
		top: 0
		left: 0
		bottom: -100%
		right: 0
		z-index: 1

.s_portfolio,
.s_news
	.grid_wrap
		position: relative
		margin: 0 -15px
		.block
			height: 369px
		.overlay_rot
			transform: rotate(45deg)
			width: 260px
			height: 260px
			margin: auto
			z-index: 1
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			&:hover .holder
				display: block
			.holder
				position: absolute
				display: none
				transform: rotate(-45deg)
				z-index: 1
				top: 197px
				left: 196px
				width: 75px
				height: 75px
				background-image: url("../img/portfolio/overlay_btn.png")
				&:hover
					background-image: url("../img/portfolio/overlay_btn_hover.png")
		.overlay
			display: none
			h4
				font-family: "Exo2Black"
				font-size: 24px
				line-height: 22px
				letter-spacing: 0.05em
				color: $light
				text-transform: uppercase
				margin-top: 175px
			.separator
				margin: 15px 0
			
		figure
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
.s_portfolio
	min-height: 600px
	padding-top: 200px
	.grid_wrap
		min-height: 1200px
		.top_block
			.block_1
				top: 0
				bottom: 0
				left: 0
				right: 800px
			.block_2
				top: 0
				bottom: 0
				left: 0
				right: 0
			.block_3
				top: 0
				bottom: 0
				left: 800px
				right: 0
		.left_block
			.block_4
				top: 200px
				bottom: 0
				left: 0
				right: 400px
			.block_5
				top: 400px
				bottom: 0
				left: 0
				right: 800px
			.block_6
				top: 600px
				bottom: 0
				left: 0
				right: 400px
		.middle_block
			.block_7
				top: 400px
				bottom: 0
				left: 0
				right: 0
		.right_block
			.block_8
				top: 200px
				bottom: 0
				left: 400px
				right: 0
			.block_9
				top: 400px
				bottom: 0
				left: 800px
				right: 0
			.block_10
				top: 600px
				bottom: 0
				left: 400px
				right: 0
		.bottom_block
			.block_11
				top: 800px
				bottom: 0
				left: 0
				right: 800px
			.block_12
				top: 800px
				bottom: 0
				left: 0
				right: 0
			.block_13
				top: 800px
				bottom: 0
				left: 800px
				right: 0			

.s_testimonials
	min-height: 400px
	background-image: url("../img/testimonials/bg_testimonials.jpg")
	background-size: cover
	color: $light
	position: relative
	.slider_wrap 
		position: relative
		.slide 
			margin-top: 65px
			.quote
				line-height: 28px
				letter-spacing: 0.05em
				font-size: 24px
			.quote_icon
				width: 15px
				display: inline-block
			.autor
				display: inline-block
				font-family: "OpenSans"
				font-size: 14px
				font-weight: 100
				font-style: italic
				letter-spacing: 0.1em
				margin-top: 30px
					
.s_skills
	padding-top: 200px

.s_stats
	min-height: 500px
	background-image: url("../img/stats/bg_stats.jpg")
	background-size: cover
	color: $light
	position: relative
	.icon
		margin-top: 75px
	.number
		font-family: "Exo2Black"
		font-size: 55px
		letter-spacing: 0
		color: $special
		margin-top: 30px
		line-height: 1
	.text
		font-family: "Exo2EL"
		font-size: 14px
		letter-spacing: 0
		color: $light
		text-transform: uppercase
		font-weight: 600
		margin-top: 10px
		line-height: 1
.s_news
	padding-top: 200px
	.grid_wrap
		min-height: 570px
		margin-top: 100px
		.left_block
			.block_1
				top: 0
				bottom: 0
				left: 0
				right: 800px
		.middle_block
			.block_2
				top: 0
				bottom: 0
				left: 0
				right: 0
		.right_block
			.block_3
				top: 0
				bottom: 0
				left: 800px
				right: 0
		.bottom_block
			.block_4
				top: 200px
				bottom: 0
				left: 0
				right: 400px
			.block_5
				top: 200px
				bottom: 0
				left: 400px
				right: 0
.s_ribbon
	background-image: url("../img/ribbon/bg_ribbon.jpg")
	color: $light
	position: relative
	.slider_wrap 
		position: relative
		.slide 
			margin-top: 65px
			.quote
				line-height: 22px
				letter-spacing: 0.06em
				font-size: 24px
			.quote_icon
				width: 15px
				display: inline-block
			.autor
				display: inline-block
				font-family: "OpenSans"
				font-size: 14px
				font-weight: 100
				line-height: 22px
				font-style: italic
				letter-spacing: 0.1em
				margin-top: 30px
				.autor_name
					color: #1ab4ef
				.autor_hash
					color: #a1a1a1
				.autor_time
					letter-spacing: 0.075em
					color: #7c7c7c
.s_team
	padding-top: 200px
	.team_wrap
		position: relative
		margin-top: 75px
		.overlay
			display: none
			width: 269px
			height: 269px
			margin: -269px -7px 0
			.holder
				position: absolute
				display: block
				width: 75px
				height: 75px
				background-image: url("../img/team/overlay/bg_icon.png")
				&:hover
					background-image: url("../img/team/overlay/bg_icon_hover.png")
				i	
					font-size: 25px
					margin-top: 34%
					color: $light
			.icon_left
				top: 0
				bottom: 85px
				left: 0
				right: 80px
				margin: auto
			.icon_right
				top: 0
				bottom: 85px
				left: 80px
				right: 0
				margin: auto
			.icon_bottom
				top: 194px
				bottom: 100%
				left: 0
				right: 0
				margin: 0 auto
		.photo
			margin: 0 -7px
			cursor: pointer
		.role
			margin-top: 15px
			font-family: "Exo2Black"
			font-size: 15px
			letter-spacing: 0.015em
			color: $special
		.name
			font-family: "Exo2Black"
			font-size: 24px
			text-transform: uppercase
			letter-spacing: 0.01em
			color: $dark
		.separator
			margin: 15px 0
		.sub_title
			font-family: "OpenSans"
			font-size: 14px
			line-height: 20px
			letter-spacing: 0.06em

.s_clients
	background-image: url("../img/clients/bg_clients.jpg")
	color: $light
	position: relative
	background-size: cover
	.slider_wrap 
		position: relative
		.slide 
			margin-top: 65px
			.quote
				line-height: 22px
				letter-spacing: 0.06em
				font-size: 14px
	.s_clients_logo
		margin-top: 90px	

.s_callback
	padding-top: 200px
	position: relative
	.form_wrap
		background-image: url("../img/callback/bg_callback.png")
		width: 1169px
		height: 1169px
		margin: 50px auto 0
		.contact_info
			margin-top: 20px
			.address,
			.email
				font-family: "OpenSans"
				font-size: 14px
				line-height: 18px
				letter-spacing: 0.075em
				color: $light
			.email
				margin-top: 30px
	.callback_form
		position: relative
		input
			outline: none
			height: 120px
			text-align: center
			color: $light
			background-color: transparent
			border: none
			border-bottom: 1px solid #434343
			font-family: "Exo2EL"
			letter-spacing: 0.025em
			font-size: 14px
			padding: 0 100px
			&:focus
				outline: none
				text-align: left
				border-bottom: 1px solid $special
				color: $light
		.name
			input
				width: 239px
				text-align: center
				padding: 70px 50px 30px
		.email
			input
				width: 479px
		.phone
			input
				width: 719px			
		.subject
			input
				width: 959px
		.message
			textarea
				outline: none
				height: 350px
				color: $light
				background-color: transparent
				border: none
				font-family: "Exo2EL"
				letter-spacing: 0.025em
				font-size: 14px
				padding: 50px 100px
				width: 959px
				resize: none
				text-align: center
				&:focus
					text-align: left
		.btn
			.overlay
				background-color: rgba(205,41,41,.6)
				width: 190px
				height: 190px
				position: absolute
				right: 39px
				top: 489px
				transform: rotate(45deg)
				border: 1px solid $special
				box-sizing: border-box
				font-family: "Exo2Black"
				&:hover
					background-color: $special
			.text
				text-transform: uppercase
				font-size: 24px
				color: $light
				transform: rotate(-45deg)
				position: absolute
				top: 81px
				right: 60px

.main_footer
	background-color: $dark
	color: $light
	text-align: center
	padding-top: 60px
	.logo_wrap
		padding: 20px 0
		margin: 0 auto
		img
			display: inline-block
		p
			font-family: "OpenSans"
			font-weight: 100
			color: #a3a3a3
			font-size: 11px
			letter-spacing: 0.1em
			margin-top: 20px
	.icon
		display: inline-block
		width: 75px
		height: 75px
		background-image: url("../img/about/icon/icon_bg.png")
		margin: 40px 15px
		cursor: pointer
		i	
			font-size: 25px
			margin-top: 34%
		&:hover
			background-image: url("../img/about/icon/hover_bg.png")
			color: #1ab4ef