* {
  margin: 0;
  padding: 0; }

a {
  color: #212121; }
  a:hover {
    text-decoration: none;
    color: #212121; }

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #212121;
  letter-spacing: 0.05em; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.main_wrap {
  background-color: #f5f5f5; }

h1 {
  font-family: "Exo2Black";
  font-size: 23px;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 0 4px;
  line-height: 30px; }

img.scroll {
  width: 5%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -100%;
  right: 0;
  z-index: 1; }

.comment_slider .owl-carousel .owl-dots {
  position: absolute;
  top: -6px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .comment_slider .owl-carousel .owl-dots .owl-dot {
    margin: 30px 4px;
    background-image: url("../img/testimonials/slider_dot.png");
    width: 11px;
    height: 11px; }
    .comment_slider .owl-carousel .owl-dots .owl-dot.active {
      background-image: url("../img/testimonials/slider_dot_active.png"); }

.logo_wrap {
  padding: 20px 0; }
  .logo_wrap img {
    float: left; }

.navbar_wrap ul {
  list-style-type: none;
  cursor: pointer;
  float: right; }
  .navbar_wrap ul li {
    display: inline-block;
    line-height: 30px;
    font-family: "Exo2Black";
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 24px;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 20px 24px;
    margin-left: -1px; }
    .navbar_wrap ul li:hover {
      border: 1px solid #000;
      background-color: rgba(33, 33, 33, 0.1); }

.main_slider {
  position: relative;
  padding-top: 0;
  padding-bottom: 0; }
  .main_slider img.scroll {
    width: 5%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -100%;
    right: 0;
    z-index: 1; }
  .main_slider .slider_wrap {
    position: relative;
    z-index: 0; }
    .main_slider .slider_wrap .owl-theme .owl-nav .owl-prev,
    .main_slider .slider_wrap .owl-theme .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      margin: auto;
      margin-top: -70px;
      padding: 0;
      display: block;
      background: none; }
    .main_slider .slider_wrap .owl-theme .owl-nav .owl-prev {
      left: 0; }
    .main_slider .slider_wrap .owl-theme .owl-nav .owl-next {
      right: 0; }
    .main_slider .slider_wrap .slider_descr img.rubik {
      width: 40%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    .main_slider .slider_wrap .slider_descr img.plus {
      width: 5%;
      margin: auto;
      position: absolute;
      top: 63%;
      left: 0;
      bottom: 0;
      right: 0; }
    .main_slider .slider_wrap .slider_descr .text {
      width: 30%;
      margin: auto;
      position: absolute;
      top: 40%;
      left: 0;
      bottom: 0;
      right: 0;
      color: #fff; }
      .main_slider .slider_wrap .slider_descr .text .separator {
        width: 6%; }

section {
  padding-top: 170px;
  padding-bottom: 170px;
  text-align: center; }
  section h2 {
    font-family: "Exo2Black";
    font-size: 48px;
    letter-spacing: 0.03em;
    text-transform: uppercase; }
  section h3 {
    font-family: "Exo2Black";
    font-size: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: normal; }
  section p {
    font-family: "OpenSans";
    font-size: 14px;
    letter-spacing: 0.06em;
    line-height: 22px; }
  section .separator {
    margin: 30px auto; }

.s_features {
  min-height: 800px;
  padding-top: 200px; }
  .s_features .icon {
    margin-top: 100px; }
  .s_features h3 {
    margin-top: 30px; }
  .s_features p {
    margin-top: 20px; }

.s_about {
  min-height: 700px;
  background-image: url("../img/about/bg_about.jpg");
  background-size: cover;
  color: #f5f5f5;
  position: relative; }
  .s_about .logo {
    display: inline-block;
    margin-top: 40px; }
  .s_about h1 {
    display: inline-block;
    float: none;
    vertical-align: middle;
    line-height: 31px;
    margin-top: 40px;
    color: #bcbcbc; }
  .s_about .icon {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url("../img/about/icon/icon_bg.png");
    margin: 40px 15px;
    cursor: pointer; }
    .s_about .icon i {
      font-size: 25px;
      margin-top: 34%; }
    .s_about .icon:hover {
      background-image: url("../img/about/icon/hover_bg.png");
      color: #1ab4ef; }
  .s_about .scroll {
    width: 5%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -100%;
    right: 0;
    z-index: 1; }

.s_portfolio {
  min-height: 600px;
  padding-top: 200px; }
  .s_portfolio .grid_wrap {
    position: relative;
    margin: 0 -15px;
    min-height: 1200px; }
    .s_portfolio .grid_wrap .block {
      height: 369px; }
    .s_portfolio .grid_wrap .overlay_rot {
      transform: rotate(45deg);
      width: 260px;
      height: 260px;
      margin: auto;
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      .s_portfolio .grid_wrap .overlay_rot:hover .holder {
        display: block; }
      .s_portfolio .grid_wrap .overlay_rot .holder {
        position: absolute;
        display: none;
        transform: rotate(-45deg);
        z-index: 1;
        top: 197px;
        left: 196px;
        width: 75px;
        height: 75px;
        background-image: url("../img/portfolio/overlay_btn.png"); }
        .s_portfolio .grid_wrap .overlay_rot .holder:hover {
          background-image: url("../img/portfolio/overlay_btn_hover.png"); }
    .s_portfolio .grid_wrap .overlay {
      display: none; }
      .s_portfolio .grid_wrap .overlay h4 {
        font-family: "Exo2Black";
        font-size: 24px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #f5f5f5;
        text-transform: uppercase;
        margin-top: 175px; }
      .s_portfolio .grid_wrap .overlay .separator {
        margin: 15px 0; }
    .s_portfolio .grid_wrap figure {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .s_portfolio .grid_wrap .top_block .block_1 {
      top: 0;
      bottom: 0;
      left: 0;
      right: 800px; }
    .s_portfolio .grid_wrap .top_block .block_2 {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .s_portfolio .grid_wrap .top_block .block_3 {
      top: 0;
      bottom: 0;
      left: 800px;
      right: 0; }
    .s_portfolio .grid_wrap .left_block .block_4 {
      top: 200px;
      bottom: 0;
      left: 0;
      right: 400px; }
    .s_portfolio .grid_wrap .left_block .block_5 {
      top: 400px;
      bottom: 0;
      left: 0;
      right: 800px; }
    .s_portfolio .grid_wrap .left_block .block_6 {
      top: 600px;
      bottom: 0;
      left: 0;
      right: 400px; }
    .s_portfolio .grid_wrap .middle_block .block_7 {
      top: 400px;
      bottom: 0;
      left: 0;
      right: 0; }
    .s_portfolio .grid_wrap .right_block .block_8 {
      top: 200px;
      bottom: 0;
      left: 400px;
      right: 0; }
    .s_portfolio .grid_wrap .right_block .block_9 {
      top: 400px;
      bottom: 0;
      left: 800px;
      right: 0; }
    .s_portfolio .grid_wrap .right_block .block_10 {
      top: 600px;
      bottom: 0;
      left: 400px;
      right: 0; }
    .s_portfolio .grid_wrap .bottom_block .block_11 {
      top: 800px;
      bottom: 0;
      left: 0;
      right: 800px; }
    .s_portfolio .grid_wrap .bottom_block .block_12 {
      top: 800px;
      bottom: 0;
      left: 0;
      right: 0; }
    .s_portfolio .grid_wrap .bottom_block .block_13 {
      top: 800px;
      bottom: 0;
      left: 800px;
      right: 0; }

.s_testimonials {
  min-height: 400px;
  background-image: url("../img/testimonials/bg_testimonials.jpg");
  background-size: cover;
  color: #f5f5f5;
  position: relative; }
  .s_testimonials .slider_wrap {
    position: relative; }
    .s_testimonials .slider_wrap .slide {
      margin-top: 65px; }
      .s_testimonials .slider_wrap .slide .quote {
        line-height: 28px;
        letter-spacing: 0.05em;
        font-size: 24px; }
      .s_testimonials .slider_wrap .slide .quote_icon {
        width: 15px;
        display: inline-block; }
      .s_testimonials .slider_wrap .slide .autor {
        display: inline-block;
        font-family: "OpenSans";
        font-size: 14px;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 0.1em;
        margin-top: 30px; }

.s_skills {
  padding-top: 200px; }

.s_stats {
  min-height: 500px;
  background-image: url("../img/stats/bg_stats.jpg");
  background-size: cover;
  color: #f5f5f5;
  position: relative; }
  .s_stats .icon {
    margin-top: 75px; }
  .s_stats .number {
    font-family: "Exo2Black";
    font-size: 55px;
    letter-spacing: 0;
    color: #cd2929;
    margin-top: 30px;
    line-height: 1; }
  .s_stats .text {
    font-family: "Exo2EL";
    font-size: 14px;
    letter-spacing: 0;
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    line-height: 1; }

.s_news {
  padding-top: 200px; }

.s_ribbon {
  background-image: url("../img/ribbon/bg_ribbon.jpg");
  color: #f5f5f5;
  position: relative; }
  .s_ribbon .slider_wrap {
    position: relative; }
    .s_ribbon .slider_wrap .slide {
      margin-top: 65px; }
      .s_ribbon .slider_wrap .slide .quote {
        line-height: 22px;
        letter-spacing: 0.06em;
        font-size: 24px; }
      .s_ribbon .slider_wrap .slide .quote_icon {
        width: 15px;
        display: inline-block; }
      .s_ribbon .slider_wrap .slide .autor {
        display: inline-block;
        font-family: "OpenSans";
        font-size: 14px;
        font-weight: 100;
        line-height: 22px;
        font-style: italic;
        letter-spacing: 0.1em;
        margin-top: 30px; }
        .s_ribbon .slider_wrap .slide .autor .autor_name {
          color: #1ab4ef; }
        .s_ribbon .slider_wrap .slide .autor .autor_hash {
          color: #a1a1a1; }
        .s_ribbon .slider_wrap .slide .autor .autor_time {
          letter-spacing: 0.075em;
          color: #7c7c7c; }

.s_team {
  padding-top: 200px; }
  .s_team .team_wrap {
    position: relative;
    margin-top: 75px; }
    .s_team .team_wrap .overlay {
      display: none;
      width: 269px;
      height: 269px;
      margin: -269px -7px 0; }
      .s_team .team_wrap .overlay .holder {
        position: absolute;
        display: block;
        width: 75px;
        height: 75px;
        background-image: url("../img/team/overlay/bg_icon.png"); }
        .s_team .team_wrap .overlay .holder:hover {
          background-image: url("../img/team/overlay/bg_icon_hover.png"); }
        .s_team .team_wrap .overlay .holder i {
          font-size: 25px;
          margin-top: 34%;
          color: #f5f5f5; }
      .s_team .team_wrap .overlay .icon_left {
        top: 0;
        bottom: 85px;
        left: 0;
        right: 80px;
        margin: auto; }
      .s_team .team_wrap .overlay .icon_right {
        top: 0;
        bottom: 85px;
        left: 80px;
        right: 0;
        margin: auto; }
      .s_team .team_wrap .overlay .icon_bottom {
        top: 194px;
        bottom: 100%;
        left: 0;
        right: 0;
        margin: 0 auto; }
    .s_team .team_wrap .photo {
      margin: 0 -7px;
      cursor: pointer; }
    .s_team .team_wrap .role {
      margin-top: 15px;
      font-family: "Exo2Black";
      font-size: 15px;
      letter-spacing: 0.015em;
      color: #cd2929; }
    .s_team .team_wrap .name {
      font-family: "Exo2Black";
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.01em;
      color: #212121; }
    .s_team .team_wrap .separator {
      margin: 15px 0; }
    .s_team .team_wrap .sub_title {
      font-family: "OpenSans";
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.06em; }

.s_clients {
  background-image: url("../img/clients/bg_clients.jpg");
  color: #f5f5f5;
  position: relative;
  background-size: cover; }
  .s_clients .slider_wrap {
    position: relative; }
    .s_clients .slider_wrap .slide {
      margin-top: 65px; }
      .s_clients .slider_wrap .slide .quote {
        line-height: 22px;
        letter-spacing: 0.06em;
        font-size: 14px; }
  .s_clients .s_clients_logo {
    margin-top: 90px; }

.s_callback {
  padding-top: 200px; }

.main_footer {
  background-color: #212121;
  color: #f5f5f5; }

/*# sourceMappingURL=main.css.map */
