/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* MD-MEDIUM (1201-1600)*/
@media only screen and (max-width : 1600px) {
/* ----------Main Slider---------- */
	.main_header .main_slider .slider_wrap .owl-slide{
		height: 950px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap {
		margin: 150px auto 0;
	}
	.main_header .main_slider .slider_wrap .slider_descr .slide_btn .button {
		margin: 100px auto;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text {
		width: 35%;
		height: 50%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .rubik {
		width: 50%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_text {
		font-size: 20px;
		margin-bottom: 20px;
		letter-spacing: 0.01em;
		line-height: 20px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_name {
		font-size: 47px;
		letter-spacing: 0.06em;
	}				
	/* ----------About Us---------- */
}
/* Large Devices, Wide Screens */
/* MD-MEDIUM (993-1200)*/
@media only screen and (max-width : 1200px) {
/* ----------Navbar---------- */
	.main_header .navbar_wrap {
		position: relative;
	}
	.main_header .navbar_wrap ul {
		position: absolute;
		left: 0;
		width: 200px;
	}
	.main_header .navbar_wrap ul li {
		display: none;
		text-align: center;
		background-color: rgba(255,255,255,.6)
	}
	.main_header .navbar_wrap ul li:hover {
		background-color: rgba(205,41,41,1);
		color: #f5f5f5;
	}
	.main_header .navbar_wrap ul li.mnu_btn {
		display: block;
	}
	.main_header .navbar_wrap a {
		display: block;
	}
	.main_header .navbar_wrap ul:hover li {
			display: block;
	}
	.main_header .navbar_wrap ul {
			left: auto;
			right: 0;
	}
/* ----------Main Slider---------- */
	.main_header .main_slider .slider_wrap .owl-slide{
		height: 850px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap {
		margin: 150px auto 0;
	}
	.main_header .main_slider .slider_wrap .slider_descr .slide_slogan {
		font-size: 26px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .slide_btn .button {
		margin: 75px auto;
		max-width: 360px;
		padding: 20px 20px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_name {
		font-size: 35px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .separator {
		height: 8px;
		width: 34px;
		margin: 20px auto
	}
	/* ----------SECTION ALL---------- */
	section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	section.s_long {
		padding-top: 150px;
	}
	section p {
		padding: 0px 40px;
	}
	section .s_descr {
		font-size: 22px;
		line-height: 30px;
		padding: 0px 20px;
	}
	/* ----------Features---------- */
	.s_features	.icon_wrap .icon {
		margin-top: 50px;
	}
	/* ----------Contact---------- */
	.s_callback	.callback_form .btn .overlay {
		/*width: 275px;
		height: 275px;
		position: absolute;
		right: 165px;
		top: 643px;*/
	}
	.s_callback	.callback_form .btn .text {
		/*font-size: 24px;
		top: 84px;
		right: 20px;*/
	}
			/*input
				outline: none
				height: 120px
				text-align: center
				color: $light
				background-color: transparent
				border: none
				border-bottom: 1px solid #434343
				font-family: $proxima_light, sans-serif
				letter-spacing: 0.025em
				font-size: 14px
				padding: 0 100px
				&:focus
					outline: none
					text-align: left
					border-bottom: 1px solid $special
					color: $light
			.name
				input
					width: 239px
					text-align: center
					padding: 70px 50px 30px
			.email
				input
					width: 479px
			.phone
				input
					width: 719px			
			.subject
				input
					width: 959px
			.message
				textarea
					outline: none
					height: 350px
					color: $light
					background-color: transparent
					border: none
					font-family: $proxima_light, sans-serif
					letter-spacing: 0.025em
					font-size: 14px
					padding: 50px 100px
					width: 959px
					resize: none
					text-align: center
					&:focus
						text-align: left*/
}

/* Medium Devices, Desktops */
/* SM-SMALL (769-992)*/
@media only screen and (max-width : 992px) {
	/* ----------Main Slider---------- */
	.main_header .main_slider .slider_wrap .owl-slide{
		height: 700px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap {
		margin: 140px auto 0;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap .logo_img {
		width: 80px;
		height: 80px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap h1.logo_name {
		font-size: 40px;		
	}
	.main_header .main_slider .slider_wrap .slider_descr .slide_slogan {
		font-size: 20px;
		margin-top: 20px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .separator {
		margin: 20px auto
	}
	.main_header .main_slider .slider_wrap .slider_descr .slide_btn .button {
		margin: 100px auto;
		max-width: 320px;
		font-size: 18px;
		padding: 20px 10px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text {
		width: 50%;
		height: 60%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .rubik {
		width: 75%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text {
		top: 20%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_text {
		font-size: 18px;
		margin-bottom: 20px;
		letter-spacing: 0.02em;
		line-height: 20px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_name {
		font-size: 32px;
	}
	/* ----------SECTION ALL---------- */
	section {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	section.s_long {
		padding-top: 120px;
	}
	section h2{
			font-size: 38px;
	}
	section h3 {
			font-size: 22px;
	}
	section p {
		font-size: 16px;
		padding: 0px 20px;
	}
	section .s_descr {
		font-size: 20px;
	}
	section .separator {
		margin: 25px auto;
	}
	/* ----------Features---------- */
	.s_features	.icon_wrap .icon {
		margin-top: 40px;
	}
	.s_features	.icon_wrap h3 {
		margin-top: 25px;
	}	
	.s_features	.icon_wrap p {
		margin-top: 10px;
	}
}

/* Small Devices, Tablets */
/* XS-EXTRA-SMALL (481-768)*/
@media only screen and (max-width : 768px) {
	/* ----------Main Slider---------- */
	.main_header .main_slider .slider_wrap .owl-slide{
		height: 600px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap {
		margin: 100px auto 0;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap .logo_img {
		width: 80px;
		height: 80px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap h1.logo_name {
		font-size: 40px;		
	}
	.main_header .main_slider .slider_wrap .slider_descr .slide_slogan {
		font-size: 20px;
		margin-top: 10px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .separator {
		margin: 15px auto
	}
	.main_header .main_slider .slider_wrap .slider_descr .slide_btn .button {
		margin: 75px auto;
		max-width: 300px;
		font-size: 16px;
		padding: 20px 10px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text {
		width: 35%;
		height: 50%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .rubik {
		width: 50%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_text {
		font-size: 16px;
		margin-bottom: 10px;
		letter-spacing: 0.00em;
		line-height: 18px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_name {
		font-size: 24px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text {
		width: 50%;
		height: 60%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .rubik {
		width: 100%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text {
		top: 20%;
		width: 60%;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_text {
		font-size: 18px;
		margin-bottom: 20px;
		letter-spacing: 0.02em;
		line-height: 20px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_name {
		font-size: 32px;
	}
	.main_header .main_slider .slider_wrap .owl-theme .owl-nav .owl-prev,
	.main_header .main_slider .slider_wrap .owl-theme .owl-nav .owl-next {
		top: 93%;
	}
	.main_header .main_slider .slider_wrap .owl-theme .owl-nav .owl-prev {
		left: 50%;
		margin-left: -96px;
	}		
	.main_header .main_slider .slider_wrap .owl-theme .owl-nav .owl-next {
		right: 50%;
		margin-right: -96px;
	}				
	/* ----------Navbar---------- */
	.main_header .navbar_wrap ul {
		width: 150px;
	}
	.main_header .navbar_wrap ul li {
		line-height: 18px;
		font-size: 13px;
	}
	/* ----------SECTION ALL---------- */
	section h2{
			font-size: 30px;
	}
	section h3 {
			font-size: 22px;
	}
	section .s_descr {
		font-size: 18px;
	}
	section .separator {
		margin: 20px auto;
	}
	.s_inspire .slider_wrap .slide .quote {
		line-height: 28px;
		letter-spacing: 0.05em;
		font-size: 20px;
	}
	


	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
/* XS-OMG (321-480)*/
@media only screen and (max-width : 480px) {
	/* ----------Main Slider---------- */
	.main_header .main_slider .slider_wrap .owl-slide{
		height: 440px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap {
		margin: 0 auto;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap .logo_img {
		width: 60px;
		height: 60px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .logo_wrap h1.logo_name {
		font-size: 34px;		
	}
	.main_header .main_slider .slider_wrap .slider_descr .slide_slogan {
		font-size: 20px;
		margin-top: 10px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .separator {
		margin: 15px auto
	}
	.main_header .main_slider .slider_wrap .slider_descr .slide_btn .button {
		margin: 30px auto;
		max-width: 250px;
		font-size: 14px;
		padding: 20px 10px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text .slide_text {
		font-size: 18px;
		margin-bottom: 20px;
		letter-spacing: 0.02em;
		line-height: 20px;
	}
	.main_header .main_slider .slider_wrap .slider_descr .text {
		width: 90%;
		height: 50%;
		top: 15%;
		background-color: rgba(31,31,31,.2)
	}
	.main_header .main_slider .slider_wrap .slider_descr .rubik {
		display: none;
	}

	.main_header .main_slider .slider_wrap .slider_descr .text .slide_name {
		font-size: 20px;
		margin-top: 20px;
	}
	.main_header .main_slider .slider_wrap .owl-theme .owl-nav .owl-prev,
	.main_header .main_slider .slider_wrap .owl-theme .owl-nav .owl-next {
		top: 91%;
	}			
	/* ----------Navbar---------- */
	.main_header .navbar_wrap ul {
		width: 120px;
	}
	.main_header .navbar_wrap ul li {
		line-height: 20px;
		font-size: 12px;
	}
	.main_header .navbar_wrap ul li a {
		padding: 15px 5px;
	}
	/* ----------SECTION ALL---------- */
	section h2{
			font-size: 24px;
	}
	section h3 {
			font-size: 20px;
	}
	section p {
		font-size: 16px;
		line-height: 22px;
		padding: 0px 0px;
	}
	section .s_descr {
		font-size: 16px;
		line-height: 24px;
		padding: 0px 0px;
	}

	.s_about	.icon,
	.main_footer .icon {
		margin: 40px 5px;
	}
	.s_callback .callback_form .subject input,
	.s_callback .callback_form .message	textarea {
		padding: 30px;
	}
	
}


/* ----------- 675 special for button ---------- */
@media only screen and (max-width : 675px) {
	.s_callback .callback_form .btn {
		width: 100%;
	}
}
/* ----------- 959 special for subject ---------- */
@media only screen and (max-width : 959px) {
	.s_callback .callback_form .subject	input {
		width: 100%;
	}
	.s_callback .callback_form .message	textarea {
		width: 100%;
	}
}
/* ----------- 719 special for subject ---------- */
@media only screen and (max-width : 719px) {
	.s_callback .callback_form .phone input {
	    width: 100%;
	}
}
/* ----------- 479 special for subject ---------- */
@media only screen and (max-width : 479px) {
	.s_callback .callback_form .email input {
	    width: 100%;
	}
}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}